<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    <h1 style="text-align: center;">
        {% if isUser %}
            {% for user in users %}
                {{user.userName}}
            {% endfor %}
        {% else %}
            All Accounts
        {% endif %}
    </h1>
    <ul>
    {% for user in users %}
        <li><a href="/account/{{ user.userName }}">{{ user.userName }} {{ user.email }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>